@{
    ViewBag.Title = "About";
}

<div class="jumbotron" style="background-image: url('../../Content/Images/trumpetstore.jpg'); background-size: cover">
    <div>
        <h1>About</h1>
        <p class="lead">Our Mission and Our History</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>History</h2>
        <p>
            BlowOut Instrument Rentals was founded by Jamal Lewis in December of 2005.
            Jamal comes from a long line of musicians in his family even though his family was very poor growing up.
            Jamal had a dream of opening up a small instrument shop to better provide for him and his family.
            He also wanted to make sure that less fortunate musicians had a way to access instruments and use them for little to no cost.
            In order to accomplish this noble desire, Jamal created a program where musicians could come to his store anytime during business hours
            to use an instrument and recieve lessons from volunteer teachers.
        </p>
        <p>
            The first shop the Jamal opened was located in Chicago, Illinois in 2005. Since that date he has sold and rented thousands of instruments.
            He has served thousand of individuals through his instrument lending program. Currently Jamal owns 5 other shops throughout the state of Illinois.
        </p>
        <h2>Mission</h2>
        <p>
            BlowOut's mission is to change the lives of muscians by providing all with high quality instruments through sales, leases, and lending.
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/BlowOutOwner1.jpg" style="height: 100%; width: 100%; object-fit: contain" />
    </div>
</div>
<!--The about link should display the About view (you need to code this)
    describing the history and mission of the company along with a picture
    of the founder (you can choose any picture).-->